// Default theme color family
//Content colors should be centralized and switched out via the theme file.
//This would allow the component to stay agnostic and semantic
//As in primary is always primary regardless of theme.
$text-color-primary: $text-color-primary-on-light;
$text-color-secondary: $text-color-secondary-on-light;

